* {
  box-sizing: border-box;
}

.container {
  padding: 20px;
  width: 400px;
  margin: 0 auto;
}

.title {
  font-size: 18px;
  font-weight: 600;
  background: #eeeeee;
  text-align: center;
}

.contents {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.heart svg {
  width: 42px;
  height: 42px;
  color: rgb(224, 0, 52);
  animation: bounceHaert 1s ease-in-out infinite;
}

@keyframes bounceHaert {
  0% {
    transform: scale(1.2);
  }
  75% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

.star svg {
  width: 42px;
  height: 42px;
  color: rgb(255, 215, 57);
  animation: rotateStar 0.7s ease-in-out alternate infinite;
}

@keyframes rotateStar {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scale(1);
  }
}

.scroll-down {
  width: 40px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mouse {
  width: 18px;
  height: 32px;
  border-radius: 10px;
  border: 2px solid black;
  margin-bottom: 5px;
}

.mousePoint {
  width: 4px;
  height: 6px;
  border-radius: 5px;
  background: black;
  transform: translate(5px, 4px);
}

.scroll-down1 .mouse {
  animation: bounceMouse 1.5s ease-in-out infinite;
}

.scroll-down2 .mousePoint {
  height: 4px;
  border-radius: 50%;
  animation: scroll-down 1.2s ease-in-out infinite;
}

@keyframes scroll-down {
  from {
    transform: translate(5px, 4px);
  }
  to {
    transform: translate(5px, 8px);
  }
}

@keyframes bounceMouse {
  0% {
    transform: translateY(-10px);
  }
  75% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-10px);
  }
}

.loading {
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rotate {
  margin-bottom: 10px;
}

.rotate svg {
  width: 30px;
  height: 30px;
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
